@use '../../partials' as *;

.icon_menu {
  cursor: pointer;
  display: inline-flex;
  transform: scale(1);
  transition: transform ease-in-out 0.2s;
  padding: 0.35rem;
  transform-origin: center;
  &:hover {
    transform: scale(1.2);
  }
  img {
    width: 25px;
    height: 12px;
  }
}
.menu {
  display: inline-flex;
  gap: 2rem;
  @include mobile {
    display: none;
  }
  &_link {
    color: hsl(0, 0%, 100%);
    @include font('PTSans-CaptionBold');
    transform: translateY(0);
    transition: transform ease-in-out 0.2s;
    padding: 0.35rem;
    &:hover {
      transform: translateY(-5px);
    }
  }
  .contact {
    border: 0;
    background: transparent;
    @extend .menu_link;
  }
}
