// fonts types

// PTSerif
@font-face {
	font-family: 'PTSerif-Regular';
	src: url('/fonts/PTSerif/PTSerif-Regular.ttf');
	font-display: swap;
}

// HoeflerText
@font-face {
	font-family: 'HoeflerText-Regular';
	src: url('/fonts/HoeflerText/HoeflerText-Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'HoeflerText-Black';
	src: url('/fonts/HoeflerText/HoeflerText-Black.ttf');
	font-display: swap;
}

// PTSans
@font-face {
	font-family: 'PTSans-Regular';
	src: url('/fonts/PTSans/PTSans-Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'PTSans-Caption';
	src: url('/fonts/PTSans/PTSans-Caption.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'PTSans-CaptionBold';
	src: url('/fonts/PTSans/PTSans-CaptionBold.ttf');
	font-display: swap;
}

// Avenir
@font-face {
	font-family: 'Avenir-Medium';
	src: url('/fonts/Avenir/Avenir-Medium.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'Avenir-Heavy';
	src: url('/fonts/Avenir/Avenir-Heavy.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'Avenir-Light';
	src: url('/fonts/Avenir/Avenir-Light.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'Avenir-Book';
	src: url('/fonts/Avenir/Avenir-Book.ttf');
	font-display: swap;
}

// Avenir Nex
@font-face {
	font-family: 'AvenirNext-Regular';
	src: url('/fonts/AvenirNext/AvenirNext-Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'AvenirNext-UltraLight';
	src: url('/fonts/AvenirNext/AvenirNext-UltraLight.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'AvenirNext-Medium';
	src: url('/fonts/AvenirNext/AvenirNext-Medium.ttf');
	font-display: swap;
}
