@use '../partials/' as *;

.home_header {
  background: linear-gradient(
    180deg,
    hsla(164, 88%, 71%, 0.6) 0%,
    hsla(166, 80%, 78%, 0.7) 50%,
    hsl(175, 64%, 86%) 100%
  );
  box-shadow: 0px 20px 30px hsla(167, 85%, 87%, 0.7);
  padding: 1.2rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  figure {
    cursor: pointer;
    display: inline-flex;
    transform: scale(1);
    transition: transform ease-in-out 0.2s;
    padding: 0.35rem;
    transform-origin: center;
    &:hover {
      transform: scale(1.2);
    }
    img {
      width: 25px;
      height: 12px;
    }
  }
  .menu {
    display: inline-flex;
    gap: 2rem;
    @include mobile {
      display: none;
    }
    &_link {
      color: hsl(0, 0%, 100%);
      @include font('PTSans-CaptionBold');
      transform: translateY(0);
      transition: transform ease-in-out 0.2s;
      padding: 0.35rem;
      &:hover {
        transform: translateY(-5px);
      }
    }
    .contact {
      border: 0;
      background: transparent;
      @extend .menu_link;
    }
  }
}
