.home_hero {
  .row {
    align-items: center;
    padding: 2rem 0;
  }
  .hero {
    &_logo {
      margin-bottom: 2.5rem;
    }
    &_title {
      color: hsl(180, 3%, 68%);
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
    &_info {
      color: hsl(246, 33%, 33%);
      letter-spacing: 0.5px;
      margin: 0;
      font-family: 'Avenir', sans-serif;
      font-weight: bold;
    }
    &_app_store {
      margin: 2.5rem 0;
    }
    &_phone {
      display: flex;
      justify-content: flex-end;
    }
    &_slider {
      width: 240px;
      height: 28px;
      border-radius: 5px;
      background: linear-gradient(90deg, hsl(207, 51%, 56%) 0%, hsl(190, 51%, 59%) 46%, hsl(162, 97%, 73%) 100%);
    }
  }
  .scroll_down{
    color: hsl(180, 3%, 68%);
    border: 0;
    background: transparent;
    margin-bottom: 0.6rem;
    font-family: 'Avenir';
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    small{
      font-size: 0.8em;
    }
    img{
      width: 10px;
    }
  }
}
