@use '../partials/' as *;

.home_discover {
  background: #dae2f23e;
  padding: 2rem 0 3.5rem;
  @media (min-width: 992px) {
    .gx-md-5 {
      --bs-gutter-x: 7rem;
    }
  }
  .icon {
    width: 18px;
  }
  &_info {
    font-family: 'Avenir', sans-serif;
    color: #6f7070;
    margin-bottom: 2rem;
    p {
      margin: 0;
      font-size: 20px;
      strong {
        font-family: 'Avenir Next', sans-serif;
        color: #737c7c;
      }
    }
  }
  .discover_item {
    padding: 1.5rem 2rem;
    text-align: center;
    border: #86c7e2 solid 2px;
    background: #f4f7ff;
    border-radius: 6px;
    @include tablet {
      width: 60%;
      margin: 0 auto;
    }
    &_mod {
      background: #dbf7f134;
    }
    p {
      color: #85c8e2;
      font-size: 24px;
      line-height: 1.8rem;
      margin: 0;
      margin-top: 1.4rem;
    }
  }
}
