.home_discover {
  background: hsla(220, 48%, 90%, 0.243);
  padding: 2rem 0 3.5rem;
  @media (min-width: 992px) {
    .gx-md-5 {
      --bs-gutter-x: 7rem;
    }
  }
  .icon {
    width: 18px;
  }
  &_info {
    font-family: 'Avenir', sans-serif;
    color: #6F7070;
    margin-bottom: 2rem;
    p {
      margin: 0;
      font-size: 1em;
      strong {
        font-family: 'Avenir Next', sans-serif;
        color: #737C7C;
      }
    }
  }
  .discover_item {
    padding: 1.5rem 2rem;
    text-align: center;
    border: #86c7e2 solid 2px;
    background: #f4f7ff;
    border-radius: 6px;
    &_mod {
      background: #dbf7f134;
    }
    p {
      color: #85c8e2;
      font-size: 1.3em;
      line-height: 1.8rem;
      margin: 0;
      margin-top: 1.4rem;
    }
  }
}
