@use '../partials/' as *;

.home_promo {
  &_info {
    border-top: 1px solid #050404;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 6rem 0 3rem;
    gap: 2rem;
    figure {
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        filter: blur(50px) opacity(0.3);
        z-index: -1;
        @include mobile {
          width: 10rem;
          height: 10rem;
          filter: blur(25px) opacity(0.3);
        }
      }
      &::before {
        left: -1.5rem;
        background: #3c4fe3a0;
        @include mobile {
          left: 0;
        }
      }
      &::after {
        right: -1.5rem;
        background: #78ffd5a0;
        @include mobile {
          right: 0;
        }
      }
      .logo_promo {
        width: 9rem;
        margin: 0 auto;
      }
    }
    h3 {
      @include font('AvenirNext-UltraLight');
    }
    .app_store {
      width: 9rem;
      margin: 0 auto;
    }
    p {
      @include font('AvenirNext-UltraLight');
      font-size: 1.4em;
      @include mobile {
        br {
          display: none;
        }
      }
    }
  }
}
