/* fonts types */
@font-face {
  font-family: 'Avenir';
  src: url('../../public/fonts/avenir.ttc');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../public/fonts/avenir_Next.ttc');
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('../../public/fonts/avenir_Next_Condensed.ttc');
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background: hsl(0, 0%, 97%);
  font-family: 'Avenir';
}

a {
  color: inherit;
  text-decoration: none;
}

/* general styles */
.mod_container {
  width: 75%;
  @media (max-width: 992px) {    
    width: 85%;
  }
  @media (max-width: 768px) {    
    width: 95%;
  }
}
.mod-gap {
  gap: 5rem;
  @media (max-width: 992px) {    
    gap: 0;
  }
}
