@use './partials/' as *;

/* fonts types */
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir.ttc');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir_Next.ttc');
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('/fonts/avenir_Next_Condensed.ttc');
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background: hsl(0, 0%, 97%);
  font-family: 'Avenir', system-ui, -apple-system;
}

a {
  color: inherit;
  text-decoration: none;
}

/* general styles */
.mod_container {
  width: 75%;
  max-width: 1440px;
  @include desktop-md {
    width: 80%;
  }
  @include desktop-sm {
    width: 85%;
  }
  @include tablet {
    width: 90%;
  }
}
.mod-gap {
  gap: 5rem;
  @include desktop-md {
    gap: 2rem;
  }
  @include desktop-sm {
    gap: 0;
  }
}
