@use '../../partials' as *;

.icon_back {
  img {
    width: 25px;
  }
}
.app_store_min {
  img {
    width: 7rem;
  }
}
.faqs {
  padding: 2rem 0;
  h4 {
    @include font('AvenirNext-Medium');
  }
}
