@use '../../partials' as *;

.faqs {
  padding: 2rem 0;
  h4 {
    @include font('AvenirNext-Medium');
    text-decoration: underline;
  }
  .answers {
    padding-top: 2rem;
    @include font('Avenir-Medium');
    &_caption {
      color: #504398;
      font-size: 0.8em;
      text-decoration: underline;
    }
    &_item {
      margin-bottom: 1rem;
      display: flex;
      // gap: 1rem;
      overflow: hidden;
      .icon_faq {
        margin: 0;
        padding-right: 1rem;
        cursor: pointer;
        img {
          width: 1.3rem;
        }
      }
      .answer_title {
        margin-bottom: 1.25rem;
        h5 {
          margin: 0;
          cursor: pointer;
        }
      }
      .answer_content {
        display: grid;
        gap: 1rem;
        .text {
          @include font('Avenir-Book');
          margin: 0;
        }
      }
    }
  }
}
